{% extends 'layout-default.njk' %}

{% block themeBody %}
  <div class="ga-head-l"></div>
  <header id="main-header" class="header-grid-area">
    {% block header %}
      {% include 'partials/header.njk' %}
    {% endblock header%}
  </header>
  <div class="rocket-content ga-head-side">
    <p>Side Header</p>
  </div>
  <div class="ga-head-r"></div>
  <div class="ga-head2-l"></div>
  <div class="rocket-content ga-head2-main">
    <p>head2-main</p>
  </div>
  <div class="rocket-content ga-head2-side">
    <p>head2-side</p>
  </div>
  <div class="ga-head2-r"></div>

  <div class="ga-content-l"></div>
  <div class="content-grid-area">
    {% block content %}
      {% include 'partials/_layoutSidebar/content.njk' %}
    {% endblock content %}
  </div>
  <div class="ga-content-r"></div>

  <div class="sidebar-grid-area">
    {% block sidebar %}
      {% include 'partials/_layoutSidebar/sidebar.njk' %}
    {% endblock sidebar %}
  </div>
  <div class="ga-foot-main">
    {% block footer %}
      {% include 'partials/footer.njk' %}
    {% endblock footer %}
  </div>
  {% include 'partials/bottom.njk' %}
{% endblock themeBody %}
