body[layout='with-sidebar'] {
  grid-auto-rows: 0; 
  grid-auto-columns: 0;
  overflow-x: hidden;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr 300px minmax(665px, 830px) 1fr;
  grid-template-rows: 81px minmax(350px, auto) 100px;
  grid-template-areas:
    "content-l  head-main     head-main     content-r"
    "content-l  content-side  content-main  content-r"
    "content-l  foot-main     foot-main     content-r"
}

body[layout='home'] {
  grid-auto-rows: 0; 
  grid-auto-columns: 0;
  overflow-x: hidden;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr minmax(965px, 1130px) 1fr;
  grid-template-rows: 81px minmax(350px, auto) minmax(100px, 200px);
  grid-template-areas:
    "content-l  head-main     content-r"
    "content-l  content-main  content-r"
    "content-l  foot-main     content-r"
}

.ga-head-main {
  grid-area: head-main;
}

.ga-content-l {
  grid-area: content-l;
}
.ga-content-side {
  grid-area: content-side;
}
.ga-content-main {
  grid-area: content-main;
}
.ga-content-r {
  grid-area: content-r;
}

.ga-foot-main {
  grid-area: foot-main;
}

@media (max-width: 700px) {
  body[layout='home'] {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 56px minmax(350px, 1fr) 100px;
    grid-template-areas:
      "head-main"
      "content-main"
      "foot-main";
    /* next 4 lines prevents stray grid items from being written WTF???????? */
    grid-auto-rows: 0; 
    grid-auto-columns: 0;
    overflow-x: hidden;
  }
}