.blank-header {
  font-size: 10px;
  font-weight:300;
}


body[layout^='layout-home'] #main-header {
  top: 0px;
  position: sticky;
}

.sidebar-grid-area {
  position: sticky;
  top: 33px;
}

#main-header.header-grid-area {
  font-family: 'Quattrocento', serif;
}

#main-header .logo-link {
  font-family: 'UnifrakturMaguntia', serif;
}

.logo-text {
  font-family: 'UnifrakturMaguntia', serif;
  font-size: 36px;
  border-bottom: solid 5px black;
  margin: 0px 5px;
  padding-bottom: 5px;
}

html {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quattrocento', serif;
}

body {
  font-family: 'Quattrocento Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: var(--primary-text-color);
  background-color: var(--page-background);
}

.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: var(--markdown-body, --page-background);
  line-height: 1.5;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}


