<div class="content-footer">
  <p>
    This html was written in markup and built with <a href="https://wip-rocket.netlify.app/"> rocket </a>. Was it simple to do? 
    <a href="{{ site.gitSiteUrl }}/edit/main/{{ page.inputPath }}">Inspect with your GitHub account</a>
  </p>
</div>